body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main {
  min-height: 80vh;
  margin-top: 30px;
}
footer {
  background-color: #343a40;
  width: 100%;
  color: aliceblue;
  margin-top: 30px;
}
.rating-text {
  margin-left: 8px;
}

a .socialsIcons {
  color: white;
}
.socialsIcons {
  font-size: 30px;
  margin: 15px;
  transition: transform color, 0.3s ease-in-out;
}
.socialsIcons:hover {
  transform: scale(1.3);
  cursor: pointer;
  color: #657ed4;
}
.product--wrapper {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #657ed4;
  font-weight: bold;
}
